extends layout

block slides

  section.slide#title
    h1 Shared Code with RequireJS

  section.slide#amd
    :markdown
      ## Asynchronous Module Definition

      The [Asynchronous Module Definition][amd] (*AMD*) specification provides
      a framework for defining JavaScript modules and dependencies for
      predictable loading.

      * A fork of / transport for [CommonJS][cjs]
      * Brings `require`-like support to the frontend.

      [amd]: https://github.com/amdjs/amdjs-api/wiki/AMD
      [cjs]: http://www.commonjs.org/

  section.slide#why
    :markdown
      ## Why AMD?

      * Frontend JavaScript dependencies are a mess.
      * Allow us the real potential to have **shared** code between the
        frontend and a backend Node.js server.
        * Validation
        * Internationalization

  section.slide#require
    :markdown
      ## RequireJS

      [RequireJS][requirejs] is an AMD-compatible script loader (and much
      more) with features including:

      * Sensible **module definition** format
      * **Asynchronous** script loading
      * Frontend asset **bundling**
      * **Plugins**: Internationalization, text (templates)
      * **Node.js** compatibility

      [requirejs]: http://requirejs.org/

  section.slide#sample-code
    :markdown
      ## Sample Code

      TODO -- Just dive right in to shared sample code
      (without header at first)

      * TODO: Have a dependency on underscore

  section.slide#require-frontend
    :markdown
      ## RequireJS on the Frontend

      * Module definitions
      * Data main starting point
      * Configuration

  section.slide#require-data-main
    :markdown
      ## RequireJS Main

      Let's start with a main insertion point.

      TODO

  section.slide#require-client-integration
    :markdown
      ## TODO

      TODO

  section.slide#require-nodejs
    :markdown
      ## TODO

      TODO

  section.slide#other-resources
    :markdown
      ## TODO

      TODO

  section.slide#extra
    :markdown
      ## Extra Notes

      TODO: HERE -- basics and outline rest.

      * Basic syntax.
      * RequireJS on the frontend.
      * RequireJS on the backend.
      * Shared code.
      * Bundling.
      * Plugins.

      * [jsplayground]: http://javascriptplayground.com/blog/2012/07/requirejs-amd-tutorial-introduction


