extends layout

block slides
  section.slide#title
    h1 Better Dependency Management with RequireJS

  section.slide#amd
    :markdown
      ## Asynchronous Module Definition

      The [Asynchronous Module Definition][amd] (*AMD*) specification provides
      a framework for defining JavaScript modules and dependencies for
      predictable loading.

      * A functional subset of / transport for [CommonJS][cjs]
      * Brings `require`-like support to the frontend.

      [amd]: https://github.com/amdjs/amdjs-api/wiki/AMD
      [cjs]: http://www.commonjs.org/

  section.slide#why
    :markdown
      ## Why AMD?

      * Frontend JavaScript dependencies are a mess.
      * Allow us the real potential to have **shared** code between the
        frontend and a backend Node.js server.

        * Validation
        * Internationalization

  section.slide#requirejs
    :markdown
      ## RequireJS

      TODO: HERE -- basics and outline rest.

      * Basic syntax.
      * RequireJS on the frontend.
      * RequireJS on the backend.
      * Shared code.
      * Bundling.
      * Plugins.

